<%= div_for post do %>
  <div>
    <img src="http://www.gravatar.com/avatar.php?size=60&gravatar_id=7878a15a68101e32cf242f6f5ffdd6c5&default=avatar" />
    <h2><%= link_to_unless_current post.title, post %></h2>
    <span>Posted by Smartinez 1 day ago</span>
  </div>
  <div class="post-body">
    <%= simple_format post.body %>
  </div>
<% end -%>
