<% if @posts.empty? -%>
  <div class="alert-message block-message info">
    <a class="close" href="#">×</a>
    <p><strong>There are no posts to display!</strong> Start now by adding some post!.</p>
    <div class="alert-actions">
      <%= link_to "Add a new post!", new_post_path, class: 'btn small' %>
    </div>
  </div>
<% else -%>
  <%= render @posts %>
<% end -%>
