body {
  color: #101010;
}
.container {
  width: 820px;
}
.topbar a {
  color: #cfcfcf;
}
.topbar div > ul .menu-dropdown li a {
  color: #cfcfcf;
}
div.post {
  span {
    color: #444444;
  }
}
div.comment {
  span {
    color: #444444;
  }
}
